.container-camera, .container-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #f59e56;
  border-radius: 5px;
  height: 100%;
  padding: 2%;

  .camera {
    margin: 10px;
  }
  
  .date-class {
  background: #f59e56;
  border-radius: 100%;
}

  .btn, p {
    outline: none;
    padding: 10px 16px;
    background-color: #f59e56;
    color: #ffffff;
    // margin: 10px;
    border-radius: 3px;

    &-disabled {
      opacity: 0.5;
    }
  }
}
